html {
    padding-left: calc(100vw - 100%);
  }
  
  body {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: $font-weight;
    font-style: $font-style;
    font-variation-settings: $font-variation-settings;
  }
  
  .badge {
    font-weight: 500;
  }
  
  .bg-light,
  .badge-light {
    &,
    * {
      color: $text-black !important;
    }
  }
  
  .bg-dark,
  .badge-dark {
    &,
    * {
      color: $text-white !important;
    }
  }